*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;}
.heading{
    background-color: rgb(109, 214, 10);
    height: 50px;
}
h2{
    font-size: 30px;
}
.main{
    width: 70%;
    margin: auto;
    color: #000000ce;
   font-size: medium;
}
 a{
    color:rgb(109, 214, 10); 
}
ul li{
    margin-left: 30px;
    }
h1{
    font-size: 60px;
}
.end{
    margin-bottom: 0;
    background-color: #1ca3b4;
    height: 100px;
    width: 100%;
}